/* App.css */
#slide-path::before {
  content: "";
  position: absolute;
  padding: 0px 10px;
  width: 50px;
  height: 83%;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(24, 23, 23, 0.673)
  );
}

#sliding-images {
  animation: slide 34s linear infinite;
}

#sliding-images:hover {
  animation-play-state: paused;
}

#sliding-images img {
  transition: width 500ms ease, brightness 500ms ease;
}

#sliding-images img:hover {
  opacity: 1;
  width: 208px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-680px * 5));
  }
}
